*.log
Rapport/mah_logo-eps-converted-to.pdf
Rapport/rapport.aux
Rapport/rapport.log
Rapport/rapport.synctex.gz
Rapport/rapport.tex.bak
Rapport/rapport.toc
Rapport/rapport.out
Rapport/rapport.pdf
Diaries/Arvid/TechDiaryArvid.pdf
Diaries/Arvid/TechDiaryArvid.tex
Diaries/Arvid/TechDiaryArvid.html
*.pyc
/opencv/testniagarasunday.py
Diaries/Arvid/arkiv.zip
SPI/ESPTest/ESPTest.atsuo
Diaries/Arvid/*.pdf
Diaries/Arvid/*.tex
